
# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/
*.ipynb_checkpoints

# Entornos
.env
venv/
env/

# Jupyter
.jupyter/

# Credenciales — MUY IMPORTANTE
*.env
secrets.py

# Archivos grandes
*.pkl
*.h5

# Windows
Thumbs.db
desktop.ini
